.blogs-main {
    display: grid;
}

.news {
    background-color: #e6e9ed;
    padding: 10px 80px 40px;
}

.news-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.news-content img {
    grid-column: 1;
    width: 85%;
    display: inline-block;
    margin: 10px 0;
}

.news-info {
    grid-column: 2;
}

.news-info h2 {
    margin-top: 20px;
}

.news-info p {
    margin: 30px 0;
}

/* Boton de Blogs */
.blogs-btn {
    text-decoration: none;
    color: #000;
    border: 1px solid #e6162e;
    padding: 10px 15px;
    font-size: 14px;
}

.blogs-btn:hover {
    background-color: #e6162e;
    color: white;
}

/* Posts */
/* .posts {
    padding: 0 80px 40px;
} */

.posts h3 {
    border-bottom: 1px solid #cdd2da;
    padding: 20px 0;
    text-align: center;
}

/* .posts-blog {
    display: inline-block;
    padding: 15px;
    max-width: 32%;
    margin-bottom: 50px;
} */

.posts-blog img {
    width: 100%;
}

.posts-blog h4 {
    margin: 20px 0;
}

.posts-blog p {
    margin-bottom: 35px;
}

.boton-todas-publicaciones {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.boton-todas-publicaciones:hover {
    color: #e6162e;
}

.boton-todas-noticias {
    margin-top: 50px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.boton-todas-noticias:hover {
    color: #e6162e;
}

.contenedor-imagen {
    width: 100%;
    overflow: hidden;
}

.contenedor-imagen img {
    transition: transform 0.3s; /* Transición suave durante 0.3 segundos */
}

.contenedor-imagen img:hover {
    transform: scale(1.1); /* Aumentar el tamaño de la imagen al 110% */
}



@media screen and (max-width: 1060px) {
    .posts {
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {
    /*Pagina de Inicio */

    /*Página de BLOGS */
    .news {
        padding: 20px;
    }

    .news-content {
        grid-template-columns: auto auto;
    }

    .news-content img {
        width: 90%;
        padding: 10px;
    }

    .posts-blog {
        max-width: 45%;
    }


    /*Página de Blog*/
    .main-blog {
        padding: 20px;
    }

    .main-blog__content img {
        padding: 0;
    }

    .blog-content__article {
        padding: 0;
    }

    .section-contact {
        padding: 20px;
    }

    .contact {
        display: grid;
        margin: 0px;
    }
}

@media screen and (max-width: 320px) {
    .blogs-btn {
        font-size: 13px;
    }
}