.profile {
    padding: 70px 100px;
    background-color: #e6e9ed;
    margin-bottom: 5px;
}

.profile img {
    width: 100%;
}

.projects-container {
    padding: 0 80px 40px;
}

.projects-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding: 20px;
    text-align: center;
}

.project {
    display: inline-block;
    padding: 15px;
    max-width: 32%;
    margin-bottom: 50px;
}

.project h4 {
    margin: 20px 0;
}

.project p {
    margin-bottom: 35px;
}

