---
import '../styles/Banner.css'
---

<main class="home-main">
    <div class="main-container">
        <p class="main-container__text">
            Conoce las novedades y noticias del Mundo Tecnológico
        </p>
        <a class="main-container__link" href="/contenido">Entra ya!</a>
    </div>
</main>
