---
import Perfil from "../../images/profile-pic.jpg";
import "../styles/SobreMiPg.css";
---

<main>
    <section class="container profile">
        <div class="row">
            <div class="text-center py-5 px-3 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <img class="mx-auto" src={Perfil.src} alt="Foto de Perfil" />
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 my-auto">
                <h2>Hola, mi nombre es Jean Carlos!</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Harum dolor totam error consectetur nesciunt fugiat nisi
                    ipsam, aspernatur voluptatum aliquid est vel laborum
                    pariatur quas nemo delectus nobis qui! Aliquid.
                </p>
            </div>
        </div>
    </section>

    <section class="container">
        <h3 class="text-center py-5">Proyectos</h3>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 py-5">
                <h4>Titulo del proyecto</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos architecto iste recusandae doloribus ipsa. Sunt,
                    tempora quas magni ea harum quia! Natus aliquid nesciunt
                    deleniti laboriosam, ea eaque quod eum!
                </p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 py-5">
                <h4>Titulo del proyecto</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos architecto iste recusandae doloribus ipsa. Sunt,
                    tempora quas magni ea harum quia! Natus aliquid nesciunt
                    deleniti laboriosam, ea eaque quod eum!
                </p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 py-5">
                <h4>Titulo del proyecto</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos architecto iste recusandae doloribus ipsa. Sunt,
                    tempora quas magni ea harum quia! Natus aliquid nesciunt
                    deleniti laboriosam, ea eaque quod eum!
                </p>
            </div>
        </div>
    </section>
</main>
